/* mc */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "Exo 2", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: hsl(202, 68%, 28%);
}

section {
  padding: 10rem 0;
}

main {
  padding-top: 0;
}

.container {
  width: 80%;
  max-width: 1068px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: hsl(202, 68%, 28%);
}

p {
  margin-bottom: 1.7rem;
}

.gold {
  color: hsl(47, 52%, 48%);
}

.divisertop {
  display: block;
  width: 100%;
  background: url(img/divisertop.svg) no-repeat;
  background-size: cover;
  background-position: top;
  height: 40px;
  position: absolute;
  top: 0;
  margin-top: -39px;
  z-index: 5;
}

.diviserup {
  display: block;
  width: 100%;
  background: url(img/diviserup.svg) no-repeat;
  background-size: cover;
  background-position: top;
  height: 40px;
  position: absolute;
  top: 0;
  margin-top: -1px;
  z-index: 5;
}

.diviserdown {
  display: block;
  width: 100%;
  background: url(img/diviserdown.svg) no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 40px;
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
  z-index: 5;
}

h2 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  line-height: 5.6rem;
  margin-bottom: 8rem;
}

h3 {
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  background: transparent;
}

nav ul {
  width: min-content;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:first-of-type a img {
  width: 60px;
  height: auto;
  margin-right: 40px;
}

nav ul li a.co {
  width: 180px;
  color: hsl(202, 68%, 28%);
  background-color: hsl(2, 0%, 100%);
  padding: 1.4rem;
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid hsl(202, 68%, 28%);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

nav ul li a.co:hover {
  color: hsl(2, 0%, 100%);
  background-color: hsl(202, 68%, 28%);
}

#home {
  padding: 0px;
}
.accueil__page {
  height: 100vh;
  background: url(./img/voituresgarees.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hello {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1600px;
  height: calc(100vh - 20px);
  background: url(./img/moitilogo.svg);
  background-size: 28% auto;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30%;
}

.accueil h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 6rem;
  text-align: left;
  margin-bottom: 2rem;
}

.accueil h2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: left;
  margin-bottom: 1rem;
}

.accueil a {
  width: 200px;
  color: hsl(2, 0%, 100%);
  background-color: hsl(202, 68%, 28%);
  padding: 1.7rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.accueil a:hover {
  transform: scale(1.02);
  background-color: hsl(202, 68%, 35%);
}

.bandeau {
  position: relative;
  height: 80px;
  background: linear-gradient(180deg, #2075a0 0%, #0d3654 100%);
}

.fonctionnalites .fonction {
  display: grid;
  grid-template-columns: minmax(260px, 1fr) minmax(260px, 2fr);
  grid-template-rows: auto;
  gap: 15%;
  margin-bottom: 12rem;
}

.fonction > div:first-child {
  text-align: center;
}

.fonction div:first-of-type p:first-child {
  font-size: 7.2rem;
  line-height: 6.5rem;
  margin-bottom: 1rem;
}

.fonctionnalites img {
  width: 100%;
  max-width: 260px;
  height: auto;
}

.fonctionnalites div div.fonction:nth-child(3) div img {
  width: 75%;
}

.caracteristique {
  position: relative;
  background: linear-gradient(180deg, #2075a0 0%, #0d3654 100%);
}

.caracteristique ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 5%;
}

.caracteristique ul li {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: hsl(2, 0%, 100%);
  padding-top: 15rem;
  background-repeat: no-repeat;
  background-size: 112px auto;
  background-position: center top;
}

.carac1 ul li:nth-child(1) {
  background-image: url(img/cadenas.svg);
}

.carac1 ul li:nth-child(2) {
  background-image: url(img/voitureessentiel.svg);
}

.carac1 ul li:nth-child(3) {
  background-image: url(img/pasattendre.svg);
}

.carac2 ul li:nth-child(1) {
  background-image: url(img/conduite.svg);
}

.carac2 ul li:nth-child(2) {
  background-image: url(img/constructeur.svg);
}

.carac2 ul li:nth-child(3) {
  background-image: url(img//revision.svg);
}

.carac3 ul li:nth-child(1) {
  background-image: url(img/installation.svg);
}

.carac3 ul li:nth-child(2) {
  background-image: url(img/paiementsecurise.svg);
}

.carac3 ul li:nth-child(3) {
  background-image: url(img/france.svg);
}

.carac2 h2 {
  color: hsl(2, 0%, 100%);
}

.offre {
  width: 30rem;
  margin: auto;
}

.offre h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.acquerir ul {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 5%;
}

.acquerir  ul li {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  padding-top: 10rem;
  background-repeat: no-repeat;
  background-size: 112px auto;
  background-position: center top;
  margin-bottom: 9rem;
}

.acquerir ul li:nth-child(1) {
  background-image: url(img/abonnement.svg);
}

.acquerir ul li:nth-child(2) {
  background-image: url(img/inscription.svg);
}

.acquerir ul li:nth-child(3) {
  background-image: url(img/installateur.svg);
}

.acquerir ul li:nth-child(4) {
  background-image: url(img/app.svg);
}

.indice {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.indice span {
  font-size: 6rem;
  font-weight: 300;
}

.offre ol {
  margin-top: 3rem;
  border-top: 1px solid hsl(202, 68%, 28%);
  margin-bottom: 8rem;
}

.offre ol li {
  text-align: center;
  margin-top: 2rem;
}

.offre a,
.acquerir a {
  font-size: 2.8rem;
  font-weight: 800;
  background-image: url(img/boutonbg.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  padding: 3.8rem 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.offre a:hover {
  transform: scale(1.05);
}

.create_account {
  min-height: 100vh;
}

.call form {
  display: block;
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 0 0 5.5rem 0;
}

.call form > p {
  position: block;
  margin-bottom: 40px;
}

.call form > p > span {
  color: hsl(47, 52%, 48%);
  margin-left: 30px;
}

.call form > p > label {
  position: relative;
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  color: hsl(229, 41%, 23%);
  padding-left: 10px;
}

.call form > p > input {
  width: 100%;
  font-size: 2rem;
  color: hsl(229, 41%, 23%);
  background-color: hsl(229, 41%, 93%);
  border: none;
  border-radius: 3px;
  margin-top: 8px;
  padding: 15px 20px 15px 30px;
}

.call form > p > label > input {
  width: 100%;
  font-size: 2rem;
  color: hsl(229, 41%, 23%);
  background-color: hsl(229, 41%, 93%);
  border: none;
  border-radius: 3px;
  margin-top: 8px;
  padding: 15px 20px 15px 30px;
}

.call form > p:last-of-type > input {
  width: initial;
  margin-left: 30px;
}

.call form > input {
  display: block;
  width: 280px;
  color: hsl(2, 0%, 100%);
  background-color: hsl(202, 68%, 28%);
  appearance: none;
  -webkit-appearance: none;
  padding: 1.7rem;
  font-size: 2rem;
  margin: auto;
  font-weight: 600;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

i.show.fas.fa-eye, i.hide.fas.fa-eye-slash{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  color: hsl(47, 52%, 48%);
}

i.hide.fas.fa-eye-slash{
  display: none;
}

i.showLogin.fas.fa-eye, i.hideLogin.fas.fa-eye-slash{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  color: hsl(47, 52%, 48%);
}

i.hideLogin.fas.fa-eye-slash{
  display: none;
}

.ctoi {
  display: block;
  text-align: center;
}

.ctoi:hover {
  text-decoration: underline;
}

.offer {
  width: 300px;
  margin: 3rem auto 6rem auto;
}

.offer div {
  border-bottom: 2px solid hsl(47, 52%, 48%);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.offer p {
  font-size: 1.4rem;
  background: url(./img/logo.svg);
  background-size: 20px auto;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
  padding-left: 25px;
}

.offer div h2 {
  display: inline;
  font-size: 3.1rem;
  font-weight: 800;
  margin-right: 25px;
  line-height: 2rem;
}

.offer div > span {
  font-size: 2.8rem;
  font-weight: 300;
}

.car_model div p {
  text-align: center;
}

.car_model .selection {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: auto;
  padding: 0 0 5.5rem 0;
}
.car_model div select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 2rem;
  color: hsl(229, 41%, 23%);
  background-color: hsl(229, 41%, 93%);
  border: none;
  border-radius: 3px;
  margin-top: 8px;
  padding: 15px 20px 15px 30px;
}

.stripe-call {
  text-align: center;
}

.minheight {
  min-height: 100vh;
}

.sr-payment-summary {
  text-align: center;
}

.store {
  margin-bottom: 6rem;
}
.store a img {
  width: 220px;
  height: auto;
}

#code {
  text-align: center;
}

#codee {
  margin-left: 0;
  text-align: center;
}

.download > a {
  width: 180px;
  color: hsl(202, 68%, 28%);
  background-color: hsl(2, 0%, 100%);
  padding: 1.4rem;
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid hsl(202, 68%, 28%);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin: auto;
}

.download > a:hover {
  color: hsl(2, 0%, 100%);
  background-color: hsl(202, 68%, 28%);
}

footer {
  color: hsl(2, 0%, 100%);
  background-color: hsl(202, 68%, 28%);
  margin-bottom: 0px;
  height: min-content;
  padding: 1rem 0;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
}

.paiment-bien-enregistre {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto 30px auto;
  background-color: forestgreen;
  color: hsl(2, 0%, 100%);
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 6px;
}

.store {
  margin-top: 30px;
}

@media screen and (max-width: 845px) {
  .fonctionnalites .fonction {
    grid-template-columns: 1fr;
    gap: 5%;
    margin-bottom: 12rem;
  }

  .caracteristique ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 58%;
  }

  .accueil h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .car_model div select {
    font-size: 1.7rem;
  }
}